<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Angular Demo</title>
<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="css/app.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="bower_components/angular/angular.js"></script>
</head>
<body ng-app="Demo">

<!--declare which controller is linked to this element-->
<div class="container" ng-controller="MainCtrl">
    <h1>Welcome {{ name }}</h1>
</div>

<hr>

<div class="container" ng-controller="LocalUserCtrl">
    <h2>Local Users</h2>
    
    <div class="form-group">
        <input type="text" ng-model="search" class="form-control" placeholder="Search">
    </div>
    
    <ul class="js-localUsers">
        <li ng-repeat="user in localUsers | filter:search">{{ user.firstName }} {{ user.lastName }}</li>
    </ul>
    <!--view will update upon change in localUsers array-->
    <p><a class="js-addLocalUser" ng-click="addUser()" ng-href="">Add User</a></p>
</div>

<hr>

<div class="container" ng-controller="RemoteUserCtrl">
    <h2>Remote Users</h2>
    
    <ul>
        <li ng-repeat="user in remoteUsers">{{ user.firstName }} {{ user.lastName }}<br>
            Age: {{ user.age }}<br>
            {{ user.emailAddress }}<br>
            Username: {{ user.username }}<br>
            <a ng-click="deleteUser(user)">Delete {{ user.firstName }}</a></li>
    </ul>
    
    <p><a ng-click="showForm = !showForm" ng-href=""><span ng-show="!showForm">Create User</span><span ng-show="showForm">Hide Form</span></a></p>
    
    <form role="form" name="createUserForm" ng-submit="createUser(user)" ng-show="showForm">
        <br>
        
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" name="first" class="form-control" id="firstName" ng-model="user.firstName" required>
            <span class="error" ng-show="createUserForm.first.$error.required">Required</span>
        </div>
        
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="last" class="form-control" id="lastName" ng-model="user.lastName" required>
            <span class="error" ng-show="createUserForm.last.$error.required">Required</span>
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" name="age" class="form-control" id="age" ng-model="user.age" min="18" max="120" required>
            <span class="error" ng-show="createUserForm.age.$error.required">Required</span>
            <span class="error" ng-show="createUserForm.age.$error.min || createUserForm.age.$error.max">Please enter an age between 18 and 120.</span>
        </div>

        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input type="email" name="email" class="form-control" id="emailAddress" ng-model="user.emailAddress" required>
            <span class="error" ng-show="createUserForm.email.$error.required">Required</span>
            <!--TODO: what am i missing here?-->
            <span class="error" ng-show="createUserForm.email.$error.email">Please enter a valid email address</span>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="user" class="form-control" id="username" ng-model="user.username" ng-minlength="8" required>
            <span class="error" ng-show="createUserForm.user.$error.required">Required</span>
            <span class="error" ng-show="createUserForm.user.$error.minlength">Usernames must be at least 8 characters long</span>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="pass" class="form-control" id="password" ng-model="user.password" required>
            <span class="error" ng-show="createUserForm.pass.$error.required">Required</span>
        </div>

        <!--this is piggybacking on html5 form validation; disable button if required fields are not filled out-->
        <button type="submit" class="btn btn-primary" ng-disabled="createUserForm.$invalid">Submit</button>
    </form>
</div>

<br>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/app.js"></script>

</body>
</html>